.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-wrapper {
  background: #6c6cd0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
}
